
<h1>{{title}}</h1>

<form method="post" >
  <fieldset>
    <label for="firstname" class="col-2">
      FirstName:
    </label>
    <input name="firstname" id="firstname" required />
  </fieldset>
  <fieldset>
    <label for="lastname" class="col-2">
      LastName:
    </label>
    <input name="lastname" id="lastname" required/>
  </fieldset>
  <fieldset>
    <label for="username" class="col-2">
      UserName:
    </label>
    <input name="username" id="username" required />
  </fieldset>
  <fieldset>
    <label for="password" class="col-2">
      Password:
    </label>
    <input name="password" id="password" required />
  </fieldset>
  <button class="offset-3 btn btn-primary">Save</button>
</form>
